@import "icons.css";

header {
  background: #1C3643;
  position: relative;
  height: 55px;
}
body{
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: #EFEFEF;
}

.menu, .logo{
  display: inline-block;
}

.menu {
  position: absolute;
  right: 0;
  height: 55px;
}


.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.menu ul{
  margin-top: 10px;

}

.menu li {
  display: inline-block;
  margin: 0;
  padding: 10px 20px 0 20px;
  border-right: 1px solid white;
  color: white;
}

.menu li:hover {
  margin-top: -4px;
  border-top: 4px solid #97C93E;
}

.button {
  font-family: 'Lato', sans-serif;
  border-bottom: 4px solid #D0272A;
  border-radius: 5px;
  padding: 6px 15px;
  margin-right: 10px;
  color: white;
  background: #FF4842;
  cursor: pointer;
}

.contenedor {
  width: 1000px;
  position: relative;
  margin: auto;
}
.portada{
  padding-top: 33px;
}

.buscador {
  position: absolute;
  right: 0;
  top: 5px;
}
.buscador input {
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  height: 40px;
}
.buscador button {
  background: #333333;
  color: white;
  border: 1px solid #333333;
  font-size: 20px;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}
.portada-principal {
  background-image: url('../images/bibli.jpg');
  height: 550px;
  background-size: cover;
}
