@import "icons.css";

header {
  background: #1C3643;
  position: relative;
  height: 55px;
}
body{
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: #EFEFEF;
}

.menu, .logo{
  display: inline-block;
}

.menu {
  position: absolute;
  right: 0;
  height: 55px;
  cursor: pointer;
}


.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.menu ul{
  margin-top: 10px;

}

.menu li {
  display: inline-block;
  margin: 0;
  padding: 10px 20px 0 20px;
  border-right: 1px solid white;
  color: white;
}

.menu li:hover {
  margin-top: -4px;
  border-top: 4px solid #97C93E;
}

.button {
  font-family: 'Lato', sans-serif;
  border-bottom: 4px solid #D0272A;
  border-radius: 5px;
  padding: 6px 15px;
  margin-right: 10px;
  color: white;
  background: #FF4842;
  cursor: pointer;
}

.contenedor {
  width: 1000px;
  position: relative;
  margin: auto;
}
.portada{
  padding-top: 53px;
}

.buscador {
  position: absolute;
  right: 0;
  top: 5px;
}
.buscador input {
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  height: 40px;
}
.buscador button {
  background: #333333;
  color: white;
  border: 1px solid #333333;
  font-size: 20px;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.portada-principal {
  background-image: url('../images/bibli.jpg');
  height: 550px;
  position: relative;
  background-size: cover;
}

.portada-texto {
  background: rgba(255,255,255,0.8);
  width: 500px;
  color: #515151;
  padding: 30px;
  position: absolute;
  bottom: 20px;
  left: 50px;
}

.portada-texto h1 {
  margin: 0;
}

.nombre {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  color: #515151;
  border-top: 1px solid #B7B7B7;
  margin-top: 30px;
}

.nombre .icon-user {
  color: white;
  background: #C4C4C4;
  border-radius: 50%;
  padding: 10px;
}

.fila-anuncios {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.anuncios{
  margin-top: 40px;
  color: #515151;
}

.anuncios h3{
  font-size: 22px;
  width: 320px;
}

.anuncio img{
  width: 320px;
}

.nomFecha-anuncio {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #B7B7B7;
  padding-top: 10px;
}

.pie {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  color: #666666;
  margin-bottom: 30px;
}
.pie span {
  padding: 10px 0;
}

.pie .num {
  padding-left: 20px;
}

.pie button {
  margin: 0px 10px;
  background: #EAEAEA;
  font-size: 16px;
  border: 1px solid #CCCCCC;
  font-family: 'Lato', sans-serif;
  color: #666666;
  padding: 10px;
}
